<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DonHang</title>
</head>
<body>
<div class="container">
    <h1>PhamDangKhoi_21042951</h1>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <form th:object="${donHang}" method="post" th:action="@{/donHang/add}">
        <table>
            <tr>
                <td><label for="maDonHang">Don Hang</label></td>
                <td><input type="text" id="maDonHang" name="maDonHang" th:value="${maDonhangRoll}" th:placeHolder="${maDonhangRoll}"></td>
            </tr>
            <tr>
                <td><label for="tenKhachHang">Ten khach hang</label></td>
                <td><input type="text" id="tenKhachHang" th:field="*{tenKhachHang}" th:value="*{tenKhachHang}" required></td>
            </tr>
            <tr>
                <td><label for="ngayThangDat">Ngay dat</label></td>
                <td><input type="date" id="ngayThangDat" th:field="*{ngayThangDat}" th:value="*{ngayThangDat}" required></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input type="text" id="email" th:field="*{email}" th:value="*{email}" required></td>
            </tr>
            <tr>
                <td><label for="tenSanPham">Ten san pham</label></td>
                <td><input type="text" id="tenSanPham" th:field="*{tenSanPham}" th:value="*{tenSanPham}" required></td>
            </tr>
            <tr>
                <td><label>Trang thai</label></td>
                <td>
                    <div th:each="option : ${trangThaiS}">
                        <input type="radio" th:id="${'trangThai' + option.ordinal()}" th:name="trangThai" th:value="${option}" th:checked="${option.ordinal()} == 1">
                        <label th:for="${'trangThai' + option.ordinal()}" th:text="${option}"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="maCuaHang">Cua Hang</label></td>
                <td>
                    <select id="maCuaHang" th:field="*{maCuaHang.id}">
                        <option th:each="cuaHang : ${cuaHangs}" th:value="${cuaHang.id}" th:text="${cuaHang.ten}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>